@charset "utf-8";
.lineBorder {
    padding-bottom: 10px;
    border-left: 1px solid rgb(173, 116, 76);
    border-right: 1px solid rgb(173, 116, 76);
}
.lineUp{
    border-top: 1px solid rgb(173, 116, 76);
    /*border-bottom: 1px solid rgb(173, 116, 76);*/
}

.lineBottom {
    border-bottom: 1px solid rgb(173, 116, 76);
}
.vehicleBanner_left {
    width: 50%;
    height: 90px;
    /*padding-top: 10px;*/
    border-top: 1px solid rgb(173, 116, 76);
    border-right: none
}
.vehicleBanner_lefter {
    width: 10%;
    /*padding-top: 14px;*/
    height: 90px;
    border-left: 1px solid rgb(173, 116, 76);
    border-top: 1px solid rgb(173, 116, 76);
}
.line_right{
    /*border-right: 1px solid rgb(173, 116, 76);*/
    padding-right: 0px;
    padding-left: 0px;
    width: 4%;
}

.carCenter {
    width: 8%;
    height: 30px;
    text-align: center;
    border-left: 1px solid rgb(173, 116, 76);
    border-top: 1px solid rgb(173, 116, 76);
}

.car_common {
    width: 30%;
    height: 30px;
    border-left: 1px solid rgb(173, 116, 76);
    border-top: 1px solid rgb(173, 116, 76);
    border-right: 1px solid rgb(173, 116, 76);
}

.carRight {
    width: 8%;
    height: 30px;
    text-align: center;
    /*border-left: 1px solid rgb(173, 116, 76);*/
    border-top: 1px solid rgb(173, 116, 76);
}

.alignment{
    text-align: justify;
    text-align-last: justify;
    -ms-text-align-last:justify;
    padding: 0 9px;
}
/*.alignment:after {*/
    /*content: '';*/
    /*width: 100%;*/
    /*display: inline-block;*/
/*}*/
